.wrap {
  background-image: linear-gradient(0deg, #f1fff9, #f1fff900 30%),
    radial-gradient(circle at 0 0, #5fd5b6 0, #5fd5b600 30%),
    linear-gradient(180deg, #79dfffb3 -10%, #79dfff00 70%),
    radial-gradient(circle at 95% 0, #d0f224 0, #5fd5b600 20%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
