.wrap {
    .body {
        background-color: #fff;
        box-shadow: 0px 6px 10px #191a23;
        padding: 100px;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        margin-bottom: 80px;
        .banner {
            position: absolute;
            right: -323px;
            top: 0;
        }
    }
    .head {
        width: 500px;
        text-align: center;
        margin: 0 auto;
        .title {
            font-size: 30px;
            font-weight: 500;
        }
        .desc {
            margin: 10px 0px 40px 0px;
        }
    }
}
