.button {
  padding: 10px 6px;
  border-radius: 10px;
  min-width: 122px;
  font-size: 16px;
  cursor: pointer;
  transition: ease 0.2s;
  &:hover {
    opacity: 0.8;
  }
  &.primary {
    background-color: var(--primary-color);
    color: var(--dark-color);
  }

  &.secondary {
    background-color: var(--dark-color);
    color: #fff;
  }

  &.outline {
    background-color: transparent;
    color: #000;
    border: 1px solid var(--dark-color);

    &:hover {
      background-color: rgba(0, 123, 255, 0.1);
    }
  }

  &.disabled {
    background-color: #e0e0e0;
    color: #bdbdbd;
    border-color: #bdbdbd;
    cursor: not-allowed;
  }
  &.fullWidth {
    width: 100%;
  }
}
