.wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  .img {
    &.small {
      width: 26px;
      height: 26px;
    }
  }
  .title {
    font-size: 26px;
    font-weight: 600;
    &.small {
      font-size: 16px;
    }
  }
}
