.wrap {
    height: var(--header-h);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav {
    display: flex;
    align-items: center;
    gap: 40px;
    .nav-item {
        position: relative;
        font-size: 18px;
        font-weight: 500;
        &.active {
            text-decoration: underline;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}
