.pagination {
    margin-top: 20px;
}
.wrap {
    display: flex;
    align-items: center;
    gap: 20px;
    .search {
        flex: 1;
    }
    .filter-wrap {
        display: flex;
        align-items: center;
        gap: 4px;
    }
}
.header-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}
