.wrap {
  border: 1px solid #000;
  padding: 50px;
  box-shadow: 0px 5px 0px #191a23;
  border-radius: 30px;
  background-color: var(--primary-color);

  &.primary,
  &.secondary {
    .sub-label,
    .label {
      background-color: var(--white-color);
    }
  }
  &.outline {
    background-color: var(--white-color);
  }
  &.secondary {
    background-color: var(--dark-color);
  }
  .sub-label,
  .label {
    font-size: 26px;
  }
  .sub-label {
    margin-top: 4px;
  }
}

.info-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
